/*
    * Modul 151
    * Projekt Filmtagebuch
    * Samis Moser
    * Path: './css/main.css'
    * Beschreibung: Stylesheet für globale Einstellungen (Auf jeder sichtbaren Seite verlinkt)
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;500;700&display=swap');
*{
    margin:0;
    padding:0;
}
#content{
    text-align: center;
}
header ul{
    width:70%;
    margin-top:40px;
    margin-left:15%;
    margin-right:15%;
}
header li{
    width: 100px;
    display: inline-block;
    margin-left:20px;
    margin-right:20px;
}
header a{
    text-align: center;
    transition: 0.1s;
    font-weight:500;
    padding-bottom: 5%;
}
header a:hover{
    border-bottom: 3px solid gray;
}
header #nav-login{
    float: right;
}
header{
    margin-bottom: 5%;
}
header li a{
    text-decoration: none;
    color: gray;
}
header li a:visited{
    color:gray;
}
body{
    background-color:#f9f9fa;
    font-family: Roboto;
}
a{
    text-decoration: none;
    font-weight: 500;
    color: rgb(235, 123, 123); 
}
#content a{
    transition: 0.1s;
}
#content a:hover{
    border-bottom: 2px solid rgb(235, 123, 123); 
}
a:visited{
    text-decoration: none;
    font-weight: 500;
    color: rgb(235, 123, 123); 
}

h2,#p-link{
    color:gray;
}
#nav-login a{
    color:rgb(235, 123, 123);
}
#nav-login a:hover{
    border-bottom: 3px solid rgb(235, 123, 123);
}